*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    font-family: "Poppins", serif;
    background:#C8CCCF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.content1, .content2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image1{
    width: 537.4px;
    height: 512px;
    flex-shrink: 0;
   
    
}
.image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image2 {
    position: absolute;
    top: -75px;
    width: 462px;
    height: 508px;
    margin-left: 64px;
}


.image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content1 h1{
   font-weight: 700;
font-size: 87px;
line-height: 104px;
text-align: left;


}

.content1 p{
    font-size: 24px;
    margin: 16px 0px;
    font-weight: 400;
    width: 659px;
 }

 .content1 .button {
    display: flex;
align-items: center;
    width: 182px;
    height: 66px;
    padding: 24px 48px;
    border-radius: 36px;
    background-color: #363830;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

 .content1 .button a{
    text-decoration: none;
    font-weight: 400;
    color: white;
 }
 
 

 .content2{
    display: flex;
    position: relative;
 }

 .row {
    
    left: 415px;
    top: 100px;
    padding: 44px 80px;
    position: absolute;
    display: flex;
    border-radius: 144px;
    background: linear-gradient(95.95deg, rgba(255, 255, 255, 0.3) 6.59%, rgba(255, 255, 255, 0.18) 96.07%);
backdrop-filter: blur(24px)


}

.line{
    width: 38px;
height: 4px;
margin: 16px 0px;
background: #363830;


}
.col{
    width:204px;
height:192px;
margin-left: 20px;
margin-right: 20px;


}
.content1{
    display: flex;
}
.texts{
    position: relative;
    left: 243px;
  
}
@media screen and (max-width:1024px) {
    
    .texts {
        position: relative;
        left: 125px;
    }

    .content1 h1 {
        font-size: 80px;
    }
    .content1 p {
        font-size: 20px;
        width: 605px;
       
    }
    
.content1 .button {
 
    width: 155px;
    height: 60px;
    padding: 12px 35px;
   
}
.image1 {
    width: 340px;
    height: 400px;
}
.image2 {
    position: absolute;
    top: -24px;
    width: 400px;
    height: 450px;
    margin-left: 64px;
}
.row {
    padding: 20px 40px;
    top: 150px;
        left: 335px;
}
.col {
    width: 150px;
}
p {
    font-size: 14px;
}

}

@media screen and (max-width:768px){
       .texts{
        width: 530px;
        
        left: 67px;

       }
       .content1 h1 {
        width: 393px;
        font-size: 52px;
    }

    .content1 p {
        width: auto;
        font-size: 18px;
    }
    .image1 {
   
        width: 353px;
        height: 400px;
    }
    .col {
        width: 145px;
        height: 192px;
        padding-top: 30px;
        margin-left: 20px;
        margin-right: 0px;
    }
    p {
        font-size: 11px;
    }
    .image2{
        width: 350px;
        height: 400px;
        margin-left: 20px;
    }
    .row{
        left: 250px;
        padding: 5px 11px;
    }
    .line {
       align-items: center;
        margin: 7px 0px;
        background: #363830;
    }
}
@media screen and (max-width: 480px)  {
    .content1,.content2{
        flex-direction: column;
    }
    .content1 h1 {
        width: auto;
        font-size: 28px;
        text-align: center;
    }
    .texts{
        position: static;
       width: auto; 
       margin-bottom: 25px;
    }
    .content1 p{
        width: auto;
        text-align: center;
    }
    .image1 {
        width: 100%;
        height: 300px;
        margin: 25px auto;

    }
    .content1 .button a {
        font-size: 16px;
    }
    .content1 .button {
        width: 122px;
        margin: auto;
        height: 40px;
    }
    .row{
        text-align: center;
        border-radius: 144px;
        background: linear-gradient(95.95deg, rgba(255, 255, 255, 0.3) 6.59%, rgba(255, 255, 255, 0.18) 96.07%);
        backdrop-filter: blur(24px);
        display: block;
        margin: auto;
        position: static;
    
    }
  
    .col {
        padding: 25px;
         width: auto; 
        height: auto; 
         margin-left: 0px; 
         margin-right: 0px; 
    }
  
    
    .image2{
        position: static;
        width:100%;
        height: 300px;
        margin: 0;
    }
   
    .row{
        margin-top: 50px;
        border-radius: 35px;
        width: 100%;
        text-align: left;
    }

}
